## Nursing home avaiability in New York!
I am looking for the different vacancy rates for nursing homes in the Hudson Valley. This data set is from the New York Department of Health's weekly bed census, dated October 23, 2024.

In [2]:
import pandas as pd

In [3]:
beds = pd.read_csv("../data/Nursing_Home_Weekly_Bed_Census__Last_Submission_20241023.csv")
beds

,Facility ID,Facility Name,Certification Number,Street Address,City,State,Zip,County,Area Office,Phone,Website,Census Date,Week Difference,Week Difference Category,Bed Type,Total Capacity,Available Capacity,Category,Location
0,38,Cuba Memorial Hospital Inc SNF,0226000N,140 West Main Street,Cuba,NY,14727,Allegany,Western Regional Office - Buffalo,585-968-2000,NaN,09/25/2024,0,0,NHBEDSAV,61,22,5,POINT (-78.287506 42.213474)
1,3902,Elderwood at Hornell,5034300N,One Bethesda Drive,N Hornell,NY,14843,Steuben,Western Regional Office - Rochester,607-324-6900,NaN,09/25/2024,0,0,NHBEDSAV,112,6,3,POINT (-77.660423 42.346268)
2,3422,St Catherine of Siena Nursing and Rehabilitati...,5157312N,52 Route 25A,Smithtown,NY,11787,Suffolk,Metropolitan Area Regional Office - Long Island,631-862-3900,NaN,09/25/2024,0,0,NHBEDSAV,240,40,5,POINT (-73.2202 40.867664)
3,244,Humboldt House Rehabilitation and Nursing Center,1401340N,64 Hager Street,Buffalo,NY,14208,Erie,Western Regional Office - Buffalo,716-886-4377,NaN,09/25/2024,0,0,NHBEDSAV,173,29,5,POINT (-78.848213 42.921112)
4,8555,Fox Run at Orchard Park,1435304N,One Fox Run Lane,Orchard Park,NY,14127,Erie,Western Regional Office - Buffalo,716-662-5001,NaN,09/25/2024,0,0,NHBEDSAV,60,10,4,POINT (-78.774719 42.764557)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,1361,Haym Solomon Home for the Aged,7001369N,2340 Cropsey Avenue,Brooklyn,NY,11214,Kings,Metropolitan Area Regional Office - New York City,718-373-1700,NaN,09/25/2024,0,0,NHBEDSAV,240,21,5,POINT (-73.995995 40.594852)
819,1103,Hudson Hill Center for Rehabilitation and Nursing,5907315N,65 Ashburton Avenue,Yonkers,NY,10701,Westchester,Metropolitan Area Regional Office - New Rochelle,914-963-4000,NaN,09/25/2024,0,0,VENTBEDSAV,10,9,3,POINT (-73.894783 40.939518)
820,4772,Rosa Coplon Jewish Home and Infirmary,1451304N,2700 North Forest Road,Getzville,NY,14068,Erie,Western Regional Office - Buffalo,716-639-3330,NaN,09/25/2024,0,0,NHBEDSAV,180,49,5,POINT (-78.786102 43.015533)
821,677,Clifton Springs Hospital and Clinic Extended Care,3421000N,2 Coulter Road,Clifton Springs,NY,14432,Ontario,Western Regional Office - Rochester,315-462-9561,NaN,09/25/2024,0,0,NHBEDSAV,108,2,1,POINT (-77.138863 42.960537)
822,344,Premier Genesee Center for Nursing and Rehabil...,1801308N,278 Bank Street,Batavia,NY,14020,Genesee,Western Regional Office - Buffalo,585-344-0584,NaN,09/25/2024,0,0,NHBEDSAV,147,13,4,POINT (-78.177483 43.008652)

In [4]:
beds.columns #What columns are there?

Index(['Facility ID', 'Facility Name', 'Certification Number',
       'Street Address', 'City', 'State', 'Zip', 'County', 'Area Office',
       'Phone', 'Website', 'Census Date', 'Week Difference',
       'Week Difference Category', 'Bed Type', 'Total Capacity',
       'Available Capacity', 'Category', 'Location'],
      dtype='object')

In [5]:
beds.dtypes #What data types are we working with? Note that available capacity is an object...

Facility ID                   int64
Facility Name                object
Certification Number         object
Street Address               object
City                         object
State                        object
Zip                           int64
County                       object
Area Office                  object
Phone                        object
Website                     float64
Census Date                  object
Week Difference               int64
Week Difference Category      int64
Bed Type                     object
Total Capacity                int64
Available Capacity           object
Category                      int64
Location                     object
dtype: object

## Clean Data
This dataset relies on nursing homes to self-report their availability on a weekly basis. To double-check that there's no null or N/A values in important columns, I used DropNa.

In [6]:
clean_beds = beds.dropna(subset=["Facility Name", "Certification Number", "County", "Bed Type", "Week Difference Category", "Week Difference", "Total Capacity", "Available Capacity"])

In [7]:
clean_beds

,Facility ID,Facility Name,Certification Number,Street Address,City,State,Zip,County,Area Office,Phone,Website,Census Date,Week Difference,Week Difference Category,Bed Type,Total Capacity,Available Capacity,Category,Location
0,38,Cuba Memorial Hospital Inc SNF,0226000N,140 West Main Street,Cuba,NY,14727,Allegany,Western Regional Office - Buffalo,585-968-2000,NaN,09/25/2024,0,0,NHBEDSAV,61,22,5,POINT (-78.287506 42.213474)
1,3902,Elderwood at Hornell,5034300N,One Bethesda Drive,N Hornell,NY,14843,Steuben,Western Regional Office - Rochester,607-324-6900,NaN,09/25/2024,0,0,NHBEDSAV,112,6,3,POINT (-77.660423 42.346268)
2,3422,St Catherine of Siena Nursing and Rehabilitati...,5157312N,52 Route 25A,Smithtown,NY,11787,Suffolk,Metropolitan Area Regional Office - Long Island,631-862-3900,NaN,09/25/2024,0,0,NHBEDSAV,240,40,5,POINT (-73.2202 40.867664)
3,244,Humboldt House Rehabilitation and Nursing Center,1401340N,64 Hager Street,Buffalo,NY,14208,Erie,Western Regional Office - Buffalo,716-886-4377,NaN,09/25/2024,0,0,NHBEDSAV,173,29,5,POINT (-78.848213 42.921112)
4,8555,Fox Run at Orchard Park,1435304N,One Fox Run Lane,Orchard Park,NY,14127,Erie,Western Regional Office - Buffalo,716-662-5001,NaN,09/25/2024,0,0,NHBEDSAV,60,10,4,POINT (-78.774719 42.764557)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,1361,Haym Solomon Home for the Aged,7001369N,2340 Cropsey Avenue,Brooklyn,NY,11214,Kings,Metropolitan Area Regional Office - New York City,718-373-1700,NaN,09/25/2024,0,0,NHBEDSAV,240,21,5,POINT (-73.995995 40.594852)
819,1103,Hudson Hill Center for Rehabilitation and Nursing,5907315N,65 Ashburton Avenue,Yonkers,NY,10701,Westchester,Metropolitan Area Regional Office - New Rochelle,914-963-4000,NaN,09/25/2024,0,0,VENTBEDSAV,10,9,3,POINT (-73.894783 40.939518)
820,4772,Rosa Coplon Jewish Home and Infirmary,1451304N,2700 North Forest Road,Getzville,NY,14068,Erie,Western Regional Office - Buffalo,716-639-3330,NaN,09/25/2024,0,0,NHBEDSAV,180,49,5,POINT (-78.786102 43.015533)
821,677,Clifton Springs Hospital and Clinic Extended Care,3421000N,2 Coulter Road,Clifton Springs,NY,14432,Ontario,Western Regional Office - Rochester,315-462-9561,NaN,09/25/2024,0,0,NHBEDSAV,108,2,1,POINT (-77.138863 42.960537)
822,344,Premier Genesee Center for Nursing and Rehabil...,1801308N,278 Bank Street,Batavia,NY,14020,Genesee,Western Regional Office - Buffalo,585-344-0584,NaN,09/25/2024,0,0,NHBEDSAV,147,13,4,POINT (-78.177483 43.008652)

The number of rows is the same! 823.

After doing a little digging though, there are some entrys in the "Available Capacity" column that, while not empty, only contain a "." Before I move forward, I need to change any of those periods to "0" in important columns - and I need to change the dtype of "Available Capacity" from an object to an integer, so I can perform calculations with it going forward.

In [8]:
clean_beds.loc[clean_beds["Available Capacity"] == "."] = 0
clean_beds.loc[clean_beds["Total Capacity"] == "."] = 0

In [9]:
clean_beds["Available Capacity"] = clean_beds["Available Capacity"].astype(int)

In [10]:
clean_beds.dtypes #As you can see, "Avialable Capacity" is an integer now.

Facility ID                   int64
Facility Name                object
Certification Number         object
Street Address               object
City                         object
State                        object
Zip                           int64
County                       object
Area Office                  object
Phone                        object
Website                     float64
Census Date                  object
Week Difference               int64
Week Difference Category      int64
Bed Type                     object
Total Capacity                int64
Available Capacity            int64
Category                      int64
Location                     object
dtype: object

## Statewide Math
I'm going to want this for later: what's the statewide occupancy and vacancy rate? Once I find out, I'll create a nice little dataframe for it.

In [11]:
statewide_availability = clean_beds["Available Capacity"].sum()

In [12]:
statewide_capacity = clean_beds["Total Capacity"].sum()

In [13]:
statewide_vacancy_rate = ((statewide_availability / statewide_capacity) * 100).round(2)
statewide_vacancy_rate

12.18

In [14]:
statewide_occupancy_rate = (100 - statewide_vacancy_rate).round(2)
statewide_occupancy_rate

87.82

In [15]:
data = {"County": ["Statewide"], "Occupancy Rate" : [statewide_occupancy_rate], "Vacancy Rate" : [statewide_vacancy_rate]}
state_df = pd.DataFrame(data)
state_df

      County  Occupancy Rate  Vacancy Rate
0  Statewide           87.82         12.18

## Pare Down Data
Now that I've gotten statewide stuff out of the way, it's time to pare down the dataset to focus on the Hudson Valley. Let's start by selecting the columns I actually want to work with.

In [16]:
county_beds = clean_beds[["County", "Facility Name", "Available Capacity", "Total Capacity"]]
county_beds

,County,Facility Name,Available Capacity,Total Capacity
0,Allegany,Cuba Memorial Hospital Inc SNF,22,61
1,Steuben,Elderwood at Hornell,6,112
2,Suffolk,St Catherine of Siena Nursing and Rehabilitati...,40,240
3,Erie,Humboldt House Rehabilitation and Nursing Center,29,173
4,Erie,Fox Run at Orchard Park,10,60
...,...,...,...,...
818,Kings,Haym Solomon Home for the Aged,21,240
819,Westchester,Hudson Hill Center for Rehabilitation and Nursing,9,10
820,Erie,Rosa Coplon Jewish Home and Infirmary,49,180
821,Ontario,Clifton Springs Hospital and Clinic Extended Care,2,108
822,Genesee,Premier Genesee Center for Nursing and Rehabil...,13,147

The Hudson Valley has nine counties: Columbia, Dutchess, Greene, Orange, Putnam, Rockland, Sullivan, Ulster, and Westchester. So I can drop any rows from outside counties.

In [17]:
hudson_beds = county_beds[county_beds["County"].isin(["Columbia", "Dutchess", "Greene", "Orange", "Putnam", "Rockland", "Sullivan", "Ulster", "Westchester"])]
hudson_beds

,County,Facility Name,Available Capacity,Total Capacity
6,Westchester,Sans Souci Rehabilitation and Nursing Center,9,120
8,Westchester,Adira at Riverside Rehabilitation and Nursing,4,120
9,Greene,The Pines at Catskill Center for Nursing & Reh...,6,136
11,Westchester,White Plains Center for Nursing Care,5,88
29,Westchester,New York State Veterans Home at Montrose,54,252
...,...,...,...,...
785,Dutchess,The Baptist Home at Brookmeade,41,45
791,Westchester,Tarrytown Rehabilitation and Nursing Center,5,120
799,Ulster,Northeast Center for Rehabilitation and Brain ...,0,20
803,Westchester,United Hebrew Geriatric Center,121,296
819,Westchester,Hudson Hill Center for Rehabilitation and Nursing,9,10

## Time to do some math! 

Now it's time to group all the nursing homes by county, add up their beds, and calculate their vacancy / occupancy rates. In my initial analysis, I did this individually, repeating the same long process (like what I did for the statewide calculation above) county by county. This time around, I'll use groupby to essentially put together a pivot table. I'll then add columns to it with calculations as needed.

In [18]:
pivot_table = hudson_beds.groupby(["County"], as_index=False).agg({
    "Available Capacity" : "sum", 
    "Total Capacity" : "sum", 
})

pivot_table

        County  Available Capacity  Total Capacity
0     Columbia                  40             728
1     Dutchess                 328            2064
2       Greene                  28             256
3       Orange                 284            1434
4       Putnam                  48             320
5     Rockland                 226            1599
6     Sullivan                  55             401
7       Ulster                 259            1509
8  Westchester                1034            7508

In [19]:
#Calculating vacancy rates
pivot_table["Vacancy Rate"] = pivot_table["Available Capacity"] / pivot_table["Total Capacity"] * 100
pivot_table

        County  Available Capacity  Total Capacity  Vacancy Rate
0     Columbia                  40             728      5.494505
1     Dutchess                 328            2064     15.891473
2       Greene                  28             256     10.937500
3       Orange                 284            1434     19.804742
4       Putnam                  48             320     15.000000
5     Rockland                 226            1599     14.133834
6     Sullivan                  55             401     13.715711
7       Ulster                 259            1509     17.163685
8  Westchester                1034            7508     13.771977

In [20]:
#Calculating occupancy rates
pivot_table["Occupancy Rate"] = 100 - pivot_table["Vacancy Rate"]
pivot_table

,County,Available Capacity,Total Capacity,Vacancy Rate,Occupancy Rate
0,Columbia,40,728,5.494505,94.505495
1,Dutchess,328,2064,15.891473,84.108527
2,Greene,28,256,10.937500,89.062500
3,Orange,284,1434,19.804742,80.195258
4,Putnam,48,320,15.000000,85.000000
5,Rockland,226,1599,14.133834,85.866166
6,Sullivan,55,401,13.715711,86.284289
7,Ulster,259,1509,17.163685,82.836315
8,Westchester,1034,7508,13.771977,86.228023

In [21]:
#These percentages are long, let's round them.
pivot_table["Vacancy Rate"] = pivot_table["Vacancy Rate"].round(2) 
pivot_table["Occupancy Rate"] = pivot_table["Occupancy Rate"].round(2) 
pivot_table

,County,Available Capacity,Total Capacity,Vacancy Rate,Occupancy Rate
0,Columbia,40,728,5.49,94.51
1,Dutchess,328,2064,15.89,84.11
2,Greene,28,256,10.94,89.06
3,Orange,284,1434,19.80,80.20
4,Putnam,48,320,15.00,85.00
5,Rockland,226,1599,14.13,85.87
6,Sullivan,55,401,13.72,86.28
7,Ulster,259,1509,17.16,82.84
8,Westchester,1034,7508,13.77,86.23

Now that I'm done doing math, I can drop the "Available Capacity" and "Total Capacity" columns. For my final graphic in DataWrapper, I just want the occupancy / vacancy rates.

In [22]:
df = pivot_table[["County", "Occupancy Rate", "Vacancy Rate"]]
df #Yay!

        County  Occupancy Rate  Vacancy Rate
0     Columbia           94.51          5.49
1     Dutchess           84.11         15.89
2       Greene           89.06         10.94
3       Orange           80.20         19.80
4       Putnam           85.00         15.00
5     Rockland           85.87         14.13
6     Sullivan           86.28         13.72
7       Ulster           82.84         17.16
8  Westchester           86.23         13.77

Remember the statewide dataframe from earlier? I want to tack that on to the Hudson Valley dataframe here, just to have the comparison for the DataWrapper graphic.

In [23]:
df = pd.concat([df, state_df], ignore_index=True)

In [24]:
df

        County  Occupancy Rate  Vacancy Rate
0     Columbia           94.51          5.49
1     Dutchess           84.11         15.89
2       Greene           89.06         10.94
3       Orange           80.20         19.80
4       Putnam           85.00         15.00
5     Rockland           85.87         14.13
6     Sullivan           86.28         13.72
7       Ulster           82.84         17.16
8  Westchester           86.23         13.77
9    Statewide           87.82         12.18

Time to write to CSV!

In [25]:
df.to_csv("HV_Nursing_Home_Vacancies.csv", index=False) #Huzzah